td {
	padding: 10px;
}
.lblInputs {
	text-align: center;
}
table {
	margin: auto;
	margin-top: 20px;
}
input {
	line-height: 2em;
	border-radius: 7px;
	border-color: #6495ed;
	border-width: 1px;
}
.btnRegister {
	background-color: #6495ed;
	line-height: 1.5em;
	border: none;
	color: white;
	padding: 15px 50px;
	text-shadow: 1px 1px 5px black;
}
.btnRegister:hover {
	box-shadow: inset 0px 0px 15px 0px rgba(25, 25, 25, 0.5);
}
#pwError {
	margin: auto;
}
